@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend/Lexend-Regular.woff2),
        url(../fonts/Lexend/Lexend-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend/Lexend-Medium.woff2),
        url(../fonts/Lexend/Lexend-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lexend";
    src: url(../fonts/Lexend/Lexend-SemiBold.woff2),
        url(../fonts/Lexend/Lexend-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url(../fonts/Futura_PT/FuturaPT-Medium.woff2),
        url(../fonts/Futura_PT/FuturaPT-Medium.woff);
    font-weight: 450;
    font-style: normal;
}

:root {
    --color-primary: hsl(262, 49%, 8%);
    --color-primary-devi: hsl(262, 46%, 13%);
    --color-secondary: hsl(217, 94%, 63%);
    --color-secondary04: hsla(217, 94%, 63%, 0.4);
    --color-secondary-dim: hsl(229, 77%, 78%);
    --color-secondary-turq: hsl(173, 56%, 67%);
    --color-neutral: hsl(0, 0%, 100%);
    --color-neutral012: hsla(0, 0%, 100%, 0.12);
    --color-neutral06: hsla(0, 0%, 100%, 0.6);

    --size-font: 16px;

    --width-viewport-max: 1920px;
    --width-viewport-min: 320px;
    --width-content: 1640px;
    --width-scrollbar: 8px;
    --width-chip-max: 100px;
    --width-chip-min: 50px;
    --width-chip: 6.7vw;
}