@import './variables';

.scrollbar-y {
    scrollbar-gutter: stable;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: var(--width-scrollbar);
        height: 100%;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-secondary);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--color-neutral012);
        border-radius: 10px;
        margin: 96px 0px;
    }
}

html,
body {
    background-color: var(--color-primary);
    margin: 0px;
    padding: 0px;
}

html,
body,
button,
a,
input {
    font-family: 'Lexend', sans-serif;
    font-size: var(--size-font);
    line-height: 20px;
    font-weight: 400;
    color: var(--color-neutral);
}

body {
    background: radial-gradient(circle at 100% 100%,
            var(--color-secondary-dim) -121%,
            var(--color-secondary) -72%,
            var(--color-primary) 42%);
    overflow-x: hidden;
    @extend .scrollbar-y;
}

button {
    appearance: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.body-container {
    min-width: var(--width-viewport-min);
    width: 100%;
    max-width: var(--width-viewport-max);
    height: 100%;
    margin: 0px auto;
}

.header {
    position: relative;
    width: min(calc(100% - 20px), var(--width-content));
    margin: 16px auto 0px;
    box-sizing: border-box;
    border: 4px solid var(--color-secondary);
    border-radius: 64px;
    padding: 20px 44px;

    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    min-width: 54px;
    width: 15.18vw;
    max-width: 287px;
    min-height: 18px;
    height: 2.232vw;
    max-height: 32px;
}

.navigation {
    padding: 0px 8px;

    &__list {
        display: flex;
        flex-flow: row nowrap;
        column-gap: calc(0.5rem + 1.25vw);
    }
}

.navigation-drop {
    display: none;
}

.link {
    color: var(--color-neutral);

    &:hover {
        text-decoration: underline;
        color: var(--color-secondary);
    }
}

.button-panel {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 14px;
    align-items: center;
}

.button {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 24px;
    border: none;
    padding: 14px;

    &:hover {
        outline: 2px solid var(--color-neutral);
        box-shadow: inset 0px 0px 8px 2px var(--color-primary-devi);
    }

    &:active {
        outline: none;
        box-shadow: inset 0px 2px 4px 4px var(--color-primary);
    }

    &_transparent {
        background-color: transparent;
        border: 2px solid var(--color-secondary-dim);
        padding: 12px;

        &:hover {
            outline: 2px solid var(--color-secondary);
            box-shadow: inset 0px 0px 8px 2px var(--color-secondary);
        }

        &:active {
            outline: none;
            box-shadow: inset 0px 2px 4px 4px var(--color-secondary);
        }
    }
}

#language {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.icon {
    width: 16px;
    aspect-ratio: 1 / 1;
    fill: var(--color-secondary-dim);
}

.button-burger {
    display: none;
}

.main {
    position: relative;
    width: 100%;
    height: 1048px;
    background-color: var(--color-primary);
    box-sizing: border-box;
    overflow: hidden;
}

.bg-ellipse-gradient {
    position: absolute;
    opacity: 0.55;

    &_main {
        background: radial-gradient(ellipse at 50% 50%,
                var(--color-secondary) -121%,
                var(--color-secondary04) 13%,
                transparent 72%);
        width: 600px;
        height: 1500px;
        top: -25%;
        transform: rotateZ(-56deg);
    }
}

.bg-circle-gradient {
    position: absolute;
    opacity: 0.7;
    aspect-ratio: 1 / 1;

    &_main {
        background: radial-gradient(circle at 50% 50%,
                var(--color-secondary-dim) -121%,
                var(--color-secondary) -66%,
                transparent 56%);
        width: 1800px;
        bottom: 0%;
        right: 0%;
        transform: translate(50%, 50%);
    }

    &_footer {
        background: radial-gradient(circle at 50% 50%,
                var(--color-secondary-dim) -166%,
                var(--color-secondary) -121%,
                var(--color-primary) 72%);
        width: 1400px;
        right: 0%;
        transform: translate(50%, -50%);
        z-index: -1;
    }
}

.bg-chips {
    position: absolute;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 16px;
    right: min(38.28125%, 735px);
    top: 0px;
    overflow: hidden;

    &__line {
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        row-gap: 24px;

        &:first-child {
            opacity: 0.2;
            animation: loopChipLine-v 10s infinite linear;
        }

        &:nth-child(2) {
            opacity: 0.6;
            animation: loopChipLine-v 6s infinite linear;
        }

        &:last-child {
            opacity: 0.4;
            animation: loopChipLine-v 8s infinite linear;
        }
    }
}

.chip {
    min-width: var(--width-chip-min);
    width: var(--width-chip);
    max-width: var(--width-chip-max);
    aspect-ratio: 1 / 1;

    &__container {
        position: relative;
        width: 100%;
        height: 220px;
        border-radius: 50px;
        box-sizing: border-box;

        & svg {
            position: absolute;
            transform: translate(-3px, -3px);
            top: 0px;
        }

        &_revert {

            & svg {
                top: auto;
                bottom: 0px;
                transform: translate(-3px, 3px);
            }
        }

        &_sec {
            border: 3.5px solid var(--color-secondary);
        }

        &_neu {
            border: 3.5px solid var(--color-neutral);
        }
    }


    &__shield {
        fill: var(--color-secondary-dim);
    }

    &__soccer {
        fill: var(--color-secondary-dim);

        &_neu {
            fill: var(--color-neutral);
        }
    }

    &__cash {
        fill: var(--color-secondary);
    }

    &__world {
        fill: var(--color-secondary);
    }

    &__crown {
        fill: var(--color-neutral);
    }

    &__m {
        fill: var(--color-neutral);

        &_sec {
            fill: var(--color-secondary);
        }

        &_sec-turq {
            fill: var(--color-secondary-turq);
        }
    }

    &__timer {
        fill: var(--color-secondary-turq);
    }
}

.banner {
    width: inherit;
    height: 960px;
    position: relative;
    overflow: hidden;

    &__container {
        width: min(calc(100% - 20px), var(--width-content));
        margin: 140px auto 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__header-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &__header {
        font-size: 96px;
        line-height: 96px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px 0px 24px;

        & span {
            color: var(--color-secondary);
        }
    }

    &__paragraph {
        font-size: 32px;
        line-height: 32px;
        font-weight: 500;
        opacity: 0.6;
        margin: 0px 0px 48px;
    }

    &__header-button {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        border-radius: 48px;
        padding: 20px 72px;
    }
}

.blog {
    width: min(100%, 531px);

    &__header {
        text-transform: uppercase;
        padding: 0px;
        margin: 0px 0px 24px;
        font-size: 40px;
        line-height: 40px;
        font-weight: 600;
        text-align: center;
    }

    &__container {
        background-color: var(--color-neutral012);
        border: 3px solid var(--color-secondary);
        border-radius: 100px;
        box-sizing: border-box;
        padding: 0px 13px 0px 21px;
        height: 595px;
        position: relative;
        overflow: hidden;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 16px;
        height: 100%;
        box-sizing: border-box;
        padding: 24px calc(24px - var(--width-scrollbar)) 24px 0px;
        scrollbar-gutter: stable;
        overflow: auto;

        @extend .scrollbar-y;

        &::-webkit-scrollbar-track {
            margin: 72px 0px;
        }
    }

    &__item {
        background-color: var(--color-primary-devi);
        border-radius: 196px;
        padding: 16px 64px;

        &:hover {
            background-color: var(--color-secondary);
        }
    }

    &__item-paragraph {
        margin: 0px 0px 14px;
    }

    &__link {
        font-size: 24px;
        line-height: 28px;
    }

    &__item-date {
        font-family: "Futura PT", sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-weight: 450;
        color: var(--color-neutral06);
    }
}

.footer {
    position: relative;
    width: min(100%, 1920px);
    box-sizing: border-box;
    border: 4px solid var(--color-secondary);
    border-bottom: none;
    border-radius: 64px 64px 0px 0px;
    background-color: var(--color-primary);
    margin-top: -22px;
    padding: 36px 0px 20px;
    z-index: 1;
    overflow: hidden;

    &__container {
        width: min(calc(100% - 20px), var(--width-content));
        margin: 0px auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__list-links {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 40px;
    }
}

.media {
    text-align: right;

    &__text {
        display: inline-block;
        margin-bottom: 14px;
    }

    &__list {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 8px;
    }

    &__item {
        height: 32px;
    }

    &__link {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &__icon {
        width: 32px;
        aspect-ratio: 1 / 1;
        fill: var(--color-secondary);

        &:hover {
            fill: var(--color-secondary-dim);
        }
    }
}

@media all and (min-width: 1921px) {

    .body-container {
        border: 3px solid var(--color-secondary);
        border-top-color: transparent;
        border-bottom: none;
    }
}

@media all and (max-width: 1439px) {

    .bg-chips {
        flex-flow: column-reverse nowrap;
        row-gap: 8px;
        top: 53%;
        right: auto;
        height: auto;
        width: 100%;

        &__line {
            width: fit-content;
            flex-flow: row nowrap;
            column-gap: 12px;

            &:first-child {
                animation-name: loopChipLine-h;
            }

            &:nth-child(2) {
                animation-name: loopChipLine-h;
            }

            &:last-child {
                animation-name: loopChipLine-h;
            }
        }
    }

    .chip {

        &__container {
            min-width: 110px;
            width: calc(2.2 * var(--width-chip));
            height: auto;

            &_revert {

                & svg {
                    bottom: auto;
                    right: 0px;
                    transform: translate(3px, -3px);
                }
            }
        }
    }
}

@media all and (max-width: 1150px) {
    :root {
        --width-scrollbar: 4px;
    }

    .header {
        border-width: 2px;
        padding: 8px 12px;
    }

    .bg-chips {
        top: 343px;
    }

    .navigation,
    .button-panel__log-in,
    .button-panel__sign-up,
    #language span {
        display: none;
    }

    .navigation-drop {
        display: flex;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        flex-flow: column nowrap;
        row-gap: 30px;
        box-sizing: border-box;
        border: 2px solid var(--color-secondary);
        border-top: none;
        border-radius: 0px 0px 32px 32px;
        padding: 30px 10px 96px;
        width: 320px;
        bottom: 0px;
        right: 0px;
        transform: translate(-32px, 100%);
        background-color: var(--color-primary);
        z-index: 1;
        transition: opacity 0.66s;

        &__list {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            row-gap: 5px;
            width: 100%;
        }

        &__item {
            border: 2px solid var(--color-secondary);
            border-radius: 28px;
            padding: 11px 0px 11px 20px;

            & a {
                font-size: 18px;
                line-height: 24px;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .button-panel-drop {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        row-gap: 5px;
        width: 100%;

        &__item {
            width: 100%;
            padding: 11px 0px;
        }
    }

    .button-panel {
        column-gap: 4px;
    }

    #language {
        width: 36px;
        height: 36px;
        padding: 6px;
    }

    .icon {
        width: 20px;
    }

    .button-burger {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        width: 36px;
        height: 36px;
        padding: 4px;
        appearance: none;
        border: none;
        background-color: transparent;

        &__burger,
        &__cross {
            flex-shrink: 0;
            width: 28px;
            fill: var(--color-neutral);
            transition: opacity 1s, transform 0.66s;
        }

        &__cross {
            transform: translateX(10%) rotateZ(45deg);
        }

        &_dropped {

            & svg:first-child {
                opacity: 0;
            }

            & svg:last-child {
                transform: translateX(-100%) rotateZ(0deg);
            }
        }
    }

    .main {
        height: 1139px;
    }

    .banner {
        height: 1090px;

        &__container {
            margin-top: 70px;
            flex-flow: column nowrap;
            row-gap: 230px;
        }

        &__header-container {
            align-items: center;
            text-align: center;
        }

        &__header {
            font-size: 46px;
            line-height: 50px;
            margin-bottom: 12px;
        }

        &__paragraph {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 24px;
        }

        &__header-button {
            font-size: 18px;
            line-height: 22.5px;
            width: 100%;
            padding: 15px 20px;
        }
    }

    .blog {

        &__header {
            font-size: 32px;
            margin-bottom: 18px;
        }

        &__container {
            border-width: 2px;
            border-radius: 50px;
            padding: 0px 4px;
            height: 421px;
        }

        &__list {
            row-gap: 10px;
            padding: 8px calc(6px + var(--width-scrollbar)) 8px 0px;

            &::-webkit-scrollbar-track {
                margin: 60px 0px;
            }
        }

        &__item {
            border-radius: 40px;
            padding: 15px 35px;
        }

        &__item-paragraph {
            margin-bottom: 2px;
        }

        &__link {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .footer {
        margin-top: 0px;
    }
}

@media all and (max-width: 979px) {

    .footer {
        border-width: 2px;
        border-radius: 50px 50px 0px 0px;
        margin-top: -22px;
        padding: 17px 10px 30px;

        &__list-links {
            flex-flow: column nowrap;
            row-gap: 2px;
        }

        &__link {
            font-size: 14px;
        }
    }

    .media {
        text-align: left;

        &__text {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 8px;
        }

        &__item {
            height: 27px;
        }

        &__icon {
            width: 27px;
        }
    }
}

@media all and (max-width: 449px) {

    .navigation-drop {
        border: none;
        border-radius: 0px;
        width: max(100vw, 320px);
        right: 50%;
        transform: translate(50%, calc(100% + 3px));
    }

    .bg-ellipse-gradient {

        &_main {
            background: radial-gradient(ellipse at 50% 50%,
                    var(--color-secondary) -121%,
                    var(--color-secondary04) 16%,
                    transparent 72%);
            width: 166px;
            height: 600px;
            top: -13%;
        }
    }

    .bg-circle-gradient {

        &_main {
            background: radial-gradient(circle at 50% 50%,
                    var(--color-secondary-dim) -121%,
                    var(--color-secondary) -66%,
                    transparent 44%);
            width: 1150px;
            transform: translate(48%, 48%);
        }

        &_footer {
            background: radial-gradient(circle at 50% 50%,
                    var(--color-secondary-dim) -166%,
                    var(--color-secondary) -121%,
                    var(--color-primary) 42%);
            width: 1400px;
            transform: translate(45%, -50%);
        }
    }

    .footer {

        &__container {
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            row-gap: 20px;
        }
    }
}

@media all and (min-height: 1266px) {

    .body-container {
        display: grid;
        height: 100vh;
        grid-template-rows: [begin] auto [head] 1fr [main] auto [finish];
    }

    .header {
        grid-row-start: begin;
        grid-row-end: head;
    }

    .main {
        grid-row-start: head;
        grid-row-end: main;
        height: 100%;
    }

    .footer {
        grid-row-start: main;
        grid-row-end: finish;
    }
}

@keyframes loopChipLine-v {
    0% {
        transform: translateY(calc(-25%));
    }

    100% {
        transform: translateY(6px);
    }
}

@keyframes loopChipLine-h {
    0% {
        transform: translateX(calc(-25% - 3px));
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}